<header class="site_header">

  <a href="<%= @body_class == 'app' ? '/about' : '/' %>" class="logo" title="The sassiest way to play with Sass, Compass, &amp; LibSass!">
    <svg>
      <title>SassMeister: The sassiest way to play with Sass, Compass, &amp; LibSass!</title>
      <use xlink:href="<%= HOST %>/images/icons.svg#sassmeister"></use>
    </svg>
  </a>



<% if @body_class == 'app' %>
  <nav>
    <a id="toggle_css" data-state="hide"><span class="alt">CSS</span></a>

    <a id="toggle_html" data-state="hide"><span class="alt">HTML</span></a>


    <div id="share_actions" class="<%= 'hide' unless @gist %>">
      <svg class="share-icon">
        <title>Share</title>
        <use xlink:href="<%= HOST %>/images/icons.svg#share"></use>
      </svg>
      <ul>
        <li>
          <label>Embed code:</label>
          <textarea onclick="this.focus();this.select();" readonly="readonly"></textarea>
        </li>
      </ul>
    </div>


    <div>
      <svg class="cloud-icon">
        <title>Save</title>
        <use xlink:href="<%= HOST %>/images/icons.svg#cloud"></use>
      </svg>

      <ul id="cloud_actions"></ul>
    </div>


    <a id="open-controls" title="Open control panel">
      <svg>
        <title>Open control panel</title>
        <use xlink:href="<%= HOST %>/images/icons.svg#gear"></use>
      </svg>
    </a>


    <a href="javascript:(function(e,a,g,h,f,c,b,d){if(!(f=e.jQuery)||g>f.fn.jquery||h(f)){c=a.createElement('script');c.type='text/javascript';c.src='http://ajax.googleapis.com/ajax/libs/jquery/'+g+'/jquery.min.js';c.onload=c.onreadystatechange=function(){if(!b&&(!(d=this.readyState)||d=='loaded'||d=='complete')){h((f=e.jQuery).noConflict(1),b=1);f(c).remove()}};a.documentElement.childNodes[0].appendChild(c)}})(window,document,'1.4.2',function($,L){var gist_re=/^https?\:\/\/gist\.github\.com\/(\d*)/i,rel_re=/^\/?(\d+)$/,on_gist=gist_re.test(location.href);if(on_gist){location.href='http://sassmeister.com/gist'+location.pathname;}else{$('a').each(function(){var b=$(this).attr('href')||'',a=b.match(gist_re);if(on_gist&&!(a&&a[1])){a=b.match(rel_re)}if(a&&a[1]){$(this).after(' <a href=&quot;http://sassmeister.com/gist/'+a[1]+'&quot;>[sassmeister.com/gist]</a>')}});}});" class="bookmark" title="I am a bookmarklet, drag me into your bookmark bar and click me when you're on a Gist page with Sass. It will be awesome!">
      <svg>
        <title>Bookmarklet</title>
        <use xlink:href="<%= HOST %>/images/icons.svg#bookmark"></use>
      </svg>
    </a>

    <a href="/authorize" class="github" title="Login with Github" id="github-auth">
      <svg>
        <title>Login with Github</title>
        <use xlink:href="<%= HOST %>/images/icons.svg#github"></use>
      </svg>
    </a>
  </nav>
<% end %>
</header>
