<div class="editor-header" id="mobile-tabs">
  <h2 class="sass-syntax-display" data-tab="sass">Sass</h2>
  <h2 data-tab="css">CSS</h2>
  <% unless @gist && @gist[:html_filename] == '' && @body_class == 'embedded' %>
    <h2 class="html-syntax-display" data-tab="html">HTML</h2>
    <h2 data-tab="rendered">Result</h2>
  <% end %>
</div>

<div id="casement">
  <div id="source">
    <div class="panel" data-name="sass">
      <%= partial :"shared/_sass_input" %>
    </div>
    <div class="panel" data-name="css">
      <%= partial :"shared/_css_output" %>
    </div>
    <div class="panel" data-name="html">
      <%= partial :"shared/_html_input" %>
    </div>
  </div>

  <div class="panel" id="rendered" data-name="rendered">
    <iframe id="rendered-html" sandbox="allow-scripts allow-same-origin"></iframe>

    <div id="sash_cover"></div>
  </div>
</div>

<script>
  var sandbox = 'http://<%= SANDBOX_DOMAIN %>';
  var gist = <%= @gist.to_json || 'false' %>;
  var gist_output =  <%= @gist_output.to_json || 'false' %>;
  var imagePath = '<%= "#{HOST}/images" %>';
  <%#= 'var resetApp = true;' if @force_invalidate %>
</script>


<div id="menu-templates" style="display: none;">

  <span id="tmpl-menu-create"><a data-action="create" class="create-gist"><svg class="cloud-up-icon"><use xlink:href="<%= HOST %>/images/icons.svg#cloud-up"></use></svg> <span>Save Gist</span></a></span>
  <span id="tmpl-menu-fork"><a data-action="create" class="fork-gist"><svg class="fork-icon"><use xlink:href="<%= HOST %>/images/icons.svg#fork"></use></svg> <span>Fork Gist</span></a></span>
  <span id="tmpl-menu-login"><a href="/authorize" class="github"><svg class="github-icon"><use xlink:href="<%= HOST %>/images/icons.svg#github"></use></svg> <span>Log in with your GitHub account to save gists</span></a></span>
  <span id="tmpl-menu-view"><a href="https://gist.github.com/{{gist_id}}" class="github"><svg class="github-icon"><use xlink:href="<%= HOST %>/images/icons.svg#github"></use></svg> <span>View on GitHub</span></a></span>
  <span id="tmpl-menu-reset"><a class="reset-icon" id="reset"><svg><use xlink:href="/images/icons.svg#reset"></use></svg> <span>Reset</span></a></span>

  <span id="tmpl-account">
  
    <div><span><img src="http://www.gravatar.com/avatar/{{gravatar_id}}?s=80" alt="" height="40"></span>
      <ul id="account_actions">
        <li class="checkmark-icon"><svg class="checkmark-icon"><use xlink:href="<%= HOST %>/images/icons.svg#checkmark"></use></svg> Hello, {{github_id}}!</li>
        <li class="off-icon"><a href="/logout"><svg class="power-icon"><use xlink:href="<%= HOST %>/images/icons.svg#power"></use></svg> <span>Logout</span></a></li>
      </ul>
    </div>
  
  </span>

</div>
